@import '../../app/_styles/global.scss';

// hover states
.input-group:hover .input-group-text,
.input-group:hover .form-control,
.form-control:hover
{
  border-color: $slate-900 !important;

}

// focus states
.input-group-prepend:has(+ .form-control:focus) .input-group-text ,
.form-control:focus + .input-group-append .input-group-text
{
  border-color: $lime !important;
  background-color: $lime !important;
  color: $slate-900 !important;
}

.form-control:focus {
  border-color: $lime !important;

  //undoing default behavior
  outline: unset !important;
  box-shadow: unset !important;
}

// error states
.form-control-parent.Invalid .input-group-text,
.form-control-parent.Invalid .form-control
{
  border-color: $red !important;
}

.form-control-parent.Invalid .input-group-text
{
  background-color: $red !important;
  color: white !important;
}

.text-red {
  color: $red
}

/* remove spinner from number fields */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

//devnote: bootstrap was giving my adornments all rounded corners
.Only-Rounded-Left {
  border-top-left-radius: var(--bs-border-radius) !important;
  border-top-right-radius: 0 !important;
  border-bottom-left-radius: var(--bs-border-radius) !important;
  border-bottom-right-radius: 0 !important;
  border-right: none !important;
}

.Only-Rounded-Right {
  border-top-left-radius: 0 !important;
  border-top-right-radius: var(--bs-border-radius) !important;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: var(--bs-border-radius) !important;
  border-left: none !important;
}