/* remove spinner from number fields */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

//devnote: bootstrap was giving my adornments all rounded corners
.Only-Rounded-Left {
  border-top-left-radius: var(--bs-border-radius);
  border-top-right-radius: 0;
  border-bottom-left-radius: var(--bs-border-radius);
  border-bottom-right-radius: 0;
}

.Only-Rounded-Right {
  border-top-left-radius: 0;
  border-top-right-radius: var(--bs-border-radius);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: var(--bs-border-radius);;
}