@import '../../app/_styles/variables.scss';

// active state
.form-check:has(> .form-check-input:checked) {
    border-color: $lime !important;
    background-color: rgba($lime, .15);
}

.form-check-input:checked {
    border-color: $lime !important;
}

.form-check-input:checked + .form-check-label {

}

// focus state
.form-check-input:focus {
    //undoing default behavior
    outline: unset;
    box-shadow: unset;
}

// hover state
.form-check:hover {
    border-color: $lime !important;
}

// error state
.text-red {
    color: $red
}