.mortgage-calculator {
    max-width: 1008px;
    min-height: 606px;
    // Be sure to nest any custom classes on child elements to avoid conflicts

    .Parent {
        border: 1px solid red;
        width: 50%;
        
    }

    .LeftBox {
        // background-color: $slate-100;
    }

    .RightBox {
        // background-color: $slate-900;
    }

    .ClearAll {
        color:black;
        cursor: pointer; 
        text-decoration: underline;
        user-select: none;
    }
    
    
}