.mortgage-calculator {
    max-width: 1008px;
    min-height: 606px;
    // Be sure to nest any custom classes on child elements to avoid conflicts

    .Parent {
        // border: 1px solid red;
        width: 50%;
        
    }

    .LeftBox {
        // background-color: $slate-100;
    }

    .RightBox {
        display: flex;
        justify-content: center;
        align-items: center; 

        border-bottom-left-radius: 5rem;

        //devnote: the div was losing the rounded border from the parent, couldn't fix with bootstrap calsses
        border-top-right-radius: var(--bs-border-radius-xl);
        border-bottom-right-radius: var(--bs-border-radius-xl);
    }

    .ClearAll {
        color:black;
        cursor: pointer; 
        text-decoration: underline;
        user-select: none;
    }
    
    .TotalBox{
        background-color: rgba(0,0,0,.25);
    }

    
}